
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&family=Russo+One&display=swap');


*{
  box-sizing: border-box;
}


:root{

  --primaryColor:#33f28b;
  --secondaryColor:#3a3939;
  --thirdColor:#1d233b;
  --fourthColor: #0c9663;
--font1:"Prompt", sans-serif;
--font2: "Bree Serif", serif; 
--font3: "Protest Strike", sans-serif;

}


.dQRPmw {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background: var(--primaryColor);
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  padding: 0.3rem;
}

.dQRPmw p{
font-weight: 600;
  color: var(--thirdColor);
}


.logo{

  width: 250px;
  margin-right: 3rem;
}

.navIncpass{
padding: 0 15rem;
align-items: center;
height: 100px;
background-color: var(--thirdColor)!important;

}

a{

  color: white;
  font-weight: 400;
  text-decoration: none;
  font-family: "Prompt", sans-serif;

}


li.nav-item {
  padding: 0px 1.6rem 0rem 0.8rem;
  font-weight: 600;
  font-size: 17px;
}

.navSignIn{

  padding: 0px 1.6rem 0rem 0.8rem;
  font-weight: 600;
  font-size: 20px;

}

.navBtn{

  font-weight: 600;
  font-size: 20px;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);

}

.navBtn:hover{
  background-color: #2d2c2c;
}


.navBtnMobile{
  display: none;
  background-color: var(--primaryColor);
}

.incHeader {
padding-top: 6rem;
padding-left: 6rem;
padding-right: 6rem;
}

.boxHeader{

  padding: 6rem;
}

.boxHeader03{
  padding-top: 6rem;
  padding-right: 6rem;
  padding-left: 6rem;
}

.boxHeader04{

  padding-top: 4rem;
  padding-right: 6rem;
  padding-left: 6rem;
  padding-bottom: 6rem;
}


p{

  font-family: "Prompt", sans-serif;

}

h1 {
  font-weight: 400;
  font-size: 70px;
  /* font-family: "Russo One", sans-serif; */
  font-family: var(--font4);
  /* font-family: "Protest Strike", sans-serif; */
  color: var(--thirdColor);
  
}

h2 {
  font-size: 44px;
  font-weight: 800;
  font-family: var(--font2);
  color: var(--thirdColor);
}

h3{

  font-size: 36px;
  font-weight: 800;
  font-family: var(--font2);
  color: var(--thirdColor);

}

h4{

  font-size: 26px;
  font-weight: 800;
  font-family: var(--font2);
}

h5{

  font-size: 18px;
  font-family: var(--font2)!important;
  color: var(--thirdColor)!important;
  font-weight: 600;
}

button{
  font-family: var(--font1);
}

span{

  font-family: var(--font2);
  font-weight: 700;
  color: var(--secondaryColor);
}

.cardSpan {
  font-size: 20px !important;
  font-family: var(--font1);
  font-weight: 700;
  color: var(--secondaryColor);
}

p.incPara {
  font-size: 22px;
  padding-top: 1.5rem;
}

.incHeaderBtn{

  margin-top: 2rem;
  font-size: 30px;
  font-weight: 600;
 

}

.incHeaderBtn:hover{
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}


.incHeaderBtnprice{

  margin-top: 2rem;
  font-size: 30px;
  font-weight: 600;
  background-color: var(--primaryColor);

}

.incHeaderBtnprice:hover{
 background-color: var(--secondaryColor);
  color: var(--secondaryColor);
}

.headingLink{
  color: var(--fourthColor);
  font-weight: 400;


}


/* Platform Box  */



.card.h-100 {

  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border: none;
  margin: 1.4rem;
}



p.card-text {
  font-size: 16px;
}

.cardSpan{

  font-size: 22px;
}


.incvideo{

  margin-top: 6rem;
    margin-left: 10rem;
    margin-right: 10rem;
}


.details {
  margin: 1rem !important;
}

/* Price */


.pricebtn{

  color: rgb(255 255 255);
  min-height: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  min-width: 5rem;
  border-color: rgb(240, 240, 246);
  background: rgb(0 0 0);
  padding: 0.5rem 2rem;
  border-width: 0.1px;

}

.pricebtn:hover{
  border: 0.15rem solid rgb(95, 61, 200);

}


/* PricingTable.css */

/* PricingTable.css */

.pricing-container {
  height: 400px; /* Set a fixed height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
}

.pricing-table {
  width: 100%;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 1;
  display: flex;
}

.cell {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

.row {
  display: flex;
}

.scrollable-content {
  overflow-y: auto;
  max-height: 100%;
}





.v1{
  padding: 1rem;
}


.priceMove-1{

  transform: translateY(-120px);

}

.priceMove-2{

  transform: translateY(60px);
  transform: translateX(-50px);
  width: 500px;

}

.priceText{
  font-family: var(--font2);
}


.card.dfAhbD {
box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px !important;
border: none;
padding: 0.6rem;
background-color: rgb(239, 247, 255);
}

.price04{
  font-family: var(--font2)!important;
}

.card.dbs{
  background-color: rgb(255, 255, 255);
  padding: 0.6rem;
}


.priceText{

  font-size: 24px;
  margin: 1.8rem;
  font-weight: 600;
}



span.badge.text-bg-danger {
  font-size: 20px;
  margin: 1rem;
}


p.LearnText {
  font-size: 22px;
}

.btn-light:hover{

  color: white;
}


.test-2{

  display: none;
  
}




/* //Price Box  */

/* .header-container {

 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  background-color: var(--thirdColor); 
  padding: 60px;
  border-radius: 10px;
  text-align: center;
  margin: 1rem;
}

.heading {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}


.main-heading {
  font-size: 2.5rem;
  color: orangered; 
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 1.2rem;
  color: #e8e8e8; 
  margin-bottom: 20px;
}

.button-container {
  margin-top: 20px;
}

.res-button,
.nonres-button {
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin: 1rem;
  font-weight: 400;
  font-family: var(--font2);
  background-color: white;
}

.res-button:hover {
  background-color: #575757;
  color: #fff;
  border-color: white;
  border: 2px solid white;
}

.nonres-button:hover {
  background-color: #575757;
  color: #fff;
  border-color: white;
  border: 2px solid white;


} */





.header-container {
  
  padding: 60px 20px;
  text-align: center;
  color: #000000;
 
}

.header-content {
  /* max-width: 600px; */
  margin: 0 auto;
}

.main-heading {
  font-size: 3rem;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.sub-heading {
  font-size: 1.2rem;
  opacity: 0.8;
  color: var(--secondaryColor);
}

.heading {
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 20px;
  color: whitesmoke;
  font-family: var(--font1);
  font-weight: 600;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.res-button,
.nonres-button {
  background: linear-gradient(to right, hwb(0 17% 27%), hwb(0 39% 7%));
  color: #fff;
  padding: 12px 25px;
  font-size: 1.6rem;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.res-button:hover,
.nonres-button:hover {
  background: linear-gradient(to right, #23262a, #000000);
}



.footer-card{
  background-color: rgb(229, 229, 229);
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.card-container {
  display: flex;
  flex-direction: column; /* Default: vertical on mobile */
}

.card {
  text-decoration: none;
  color: black;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Adjust as needed */
}









/* Price Box  */

.pricebox-2{

padding: 2rem;
border-radius: 24px;
background-color: whitesmoke;
box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.pricebox-2:hover{
  background-color: var(--primaryColor);
}

a.card {
  margin: 6rem;

}

.card{
  border: none;
}

.card-price{
  font-size: 60px;
  font-family: var(--font2);
  font-weight: 600;
}

.btnCanada{
  font-size: 44px;
  font-family: var(--font4);
  font-weight: 800;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}





@media (max-width: 768px) {

 
 a{
  color: var(--secondaryColor);
 }
 
 
  .pricebox-2{

    padding: 0.2rem;
    
    margin-bottom: 3rem;
    margin-top: 3rem;


    
    }
    
    a.card {
      margin: 0.2rem;
    }


    .card-price{
      font-size: 40px;
    }

   

}




@media (min-width: 768px) {
  .card-container {
    flex-direction: row; /* Horizontal on desktop */
  }

  .card {
    margin-right: 20px; /* Adjust as needed for spacing between cards on desktop */
  }


}


/* Media Query for Mobile */
@media (max-width: 768px) {
  .main-heading {
    font-size: 2.5rem;
  }

  .sub-heading {
    font-size: 1rem;
  }

  .heading {
    font-size: 1.4rem;
    font-family: var(--font1);
    font-weight: 400;
  }
  .res-button,
  .nonres-button {

    margin: 1rem;

  }

  .header-container{
    padding: 30px 10px;
  }


  .btnCanada{
    font-size: 24px;
  }

}





.pricing-card.p {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding: 1rem;
}



.h100{
  height: auto !important;
 
  background-color: rgb(242, 252, 242);
  transition: transform 0.3s ease-in-out ; /* Add smooth transition */
}

.h100:hover{
  transform: translateY(-10px) ; /* Move the box 10 pixels above on hover */
}



/* Add this to your CSS file */

/* Define a class for the image */
.responsive-image {
  max-width: 100%; /* Maximum width of the image is 100% of its container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any default inline styles */
  margin: auto; /* Center the image */
}

/* Media query for small screens (adjust the max-width as needed) */
@media (max-width: 768px) {
  .responsive-image {
    max-width: 100%;
  }
}



/* Mobile  */



@media screen and (max-width: 768px){
 
 

  h1{

    font-size: 30px;
  }
  
  h2{
    font-size: 30px;
  }

  h3{
    font-size: 27px;

  }

  h4{
    font-size: 17px;
    font-weight: 600;
  }


  h5{
    font-size: 14px;
  }
  .navIncpass{

    padding: 0;
  }

  .incHeader{
    padding: 0;
    font-size: 20px;
  }

  p.incPara{

    font-size: 16px;
  }

  div#navbarSupportedContent {
    background-color: white;
    padding: 1rem;
}

.boxHeader04{
  padding: 0;
}

.boxHeader03{
  padding: 0;

}

.header-content{

  padding: 0.4rem;
}

.navBtn{
  display: none;
}

.boxHeader{
  padding: 0;
  overflow-x: hidden;
}


.card.h-100 {
 
  margin: 2.4rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.card-body{

  flex: 0;
}

.h-100{
  height: auto;
}


.col-12{

  width: 50%;
}

.incvideo{
  
    margin-top: 6rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 6rem;

}

.v1{
  padding: 0.4rem;
}






.priceMove-1{
flex: none;
  transform: none;

}

.priceMove-2{
transform: none;


}


span.badge.text-bg-danger {
  font-size: 16px;
  margin: 1rem;
}


.price-box-1{
  padding: 2rem;
}

.card.dfAhbD {

  margin-top: 2rem;

}


.test-1{

 display: none;
}

.test-2{
  display: flex;
}


.sat-1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4rem;
}

.sat-4{

width: 100%;


}

.sat-6{

  width: 100%;
  align-items: center;
  text-align: center;

}

.logo{

  width: 125px;
}

.navBtnMobile{
  display: flex;
  font-size: 14px;
  font-weight: 600;
}


.navbar-toggler-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
 
}

.navbar-toggler{
  background-color: white;
}



}
  